@font-face {
  font-family: NotoSerif;
  src: url("src/styles/Fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: NotoSerifBold;
  src: url("src/styles/Fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("src/styles/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsBold;
  src: url("src/styles/Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

